// Custom Button
.btn {
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 0px 2.6rem;
}

// Custom Card
.card {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3),
    0px 30px 20px -18px rgba(0, 0, 0, 0.3);
  border-radius: 1.6rem;
  .card-body {
    padding: 3rem;
  }
}

// Custom Form Control
.form-control {
  font-size: 1.6rem;
  border-radius: 1rem;
  padding: 2.6rem;
  &::-webkit-input-placeholder {
    color: rgba($dark, 0.7);
  }
  &::-moz-placeholder {
    color: rgba($dark, 0.7);
  }
  &:-ms-input-placeholder {
    color: rgba($dark, 0.7);
  }
  &:-moz-placeholder {
    color: rgba($dark, 0.7);
  }
}

// Input Group Text
.input-group-text {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  padding: 0.8rem 1.6rem;
  background-color: rgba($purple, 0.2);
  border-radius: 1rem;
  color: rgba($purple, 1);
}

// Headings
h1 {
  font-size: 2.6rem;
  margin: 0px;
}
h3 {
  font-size: 1.8rem;
  margin: 0px;
}

// Custom Select
.custom-select {
  padding: 0.8rem 1.6rem;
  height: auto;
  font-size: 1.4rem;
  border-radius: 1rem;
}

// Custom Switch
.custom-switch {
  padding-left: 1.5rem;
  margin: 0px 1rem;
  transform: scale(1.3);
  min-height: 22px;
}
.custom-switch .custom-control-label::before {
  width: 29px;
  height: 18px;
  border-radius: 5rem;
  background-color: rgba($purple, 0.2);
  border-color: transparent;
  cursor: pointer;
}
.custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  box-shadow: none;
  border-color: transparent;
}
.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #5c3ebc;
  background-color: #583bb4;
}
.custom-switch .custom-control-label::after {
  width: 14px;
  height: 14px;
  background-color: rgba($purple, 0.8);
  border-radius: 5rem;
  cursor: pointer;
}
.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  transform: translateX(11px);
}
